<style>
    .btn{
        color: white;
    }
</style>

{% extends 'base.html' %}
{% block meta %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock meta %}
{% block content %}

<html>    
    <body>
        <body>
            <div class="d-flex justify-content-center mt-5 mb-5 text-center text-capitalize">
                <h1>Hello {{user.username}}, <br>Here's Your To Do List!</h1>
            </div>
            <div class="d-flex justify-content-center ">
                <button type="button" class="btn btn-primary mx-2"><a href="{% url 'todolist:create_task' %}" style="color: white; text-decoration: none;">Add New Task</a></button>
                <br>
                <button type="button" class="btn btn btn-warning"><a href="{% url 'todolist:logout' %}" style="color: white; text-decoration: none;">Logout</a></button>
            </div>
            <br>
            <br>
            <div class="row row-cols-md-3 mx-auto justify-content-center">
                {% for task in list_of_task %}
                <div class="col-auto mb-3">
                    <div  class="card border-primary mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">{{task.title}}</h3>
                            <h6 class="card-text"><small class="text-muted">{{task.date}}</small></h6>
                            <p class="card-text">{{task.description}}</p>
                            <p class="card-text">
                                {% if task.status == True %}
                                Selesai
                                {% else %}
                                Belum Selesai
                                {% endif %}
                            </p>
                            <a href="delete/{{ task.title }}"><button type="submit" class="btn btn-danger">Hapus Task</button></a>
                            <a href="update/{{ task.title }}"><button type="submit" class="btn btn-success ms-1">Selesai</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>  
            <br>
            <br>
            <div class="d-flex justify-content-center">
            </div>
    </body>
    
    
    
    </html>
    {% endblock content %}